$background-color: #0f0f0f;
$text-color: #a7a7a7;
$active-color: #b38148;

$font-family: "Lora", serif;

/* lora-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lora-v37-latin-regular.woff2') format('woff2'); 
}
/* lora-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/lora-v37-latin-italic.woff2') format('woff2'); 
}
/* lora-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/lora-v37-latin-500.woff2') format('woff2'); 
}
/* lora-500italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/lora-v37-latin-500italic.woff2') format('woff2'); 
}
/* lora-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/lora-v37-latin-600.woff2') format('woff2'); 
}
/* lora-600italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/lora-v37-latin-600italic.woff2') format('woff2'); 
}
/* lora-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lora-v37-latin-700.woff2') format('woff2'); 
}
/* lora-700italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/lora-v37-latin-700italic.woff2') format('woff2'); 
}