@use "abstract" as *;
@use "sass:color";

/* ABSTRACT */

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: $text-color;
}

img {
    display: block;
}

html {
    font-family: $font-family;
    font-weight: 400;
    color: $text-color;
}

body {
    background-color: $background-color;
    margin: 0;
}

span.material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
}


#album-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 1rem;
    gap: 1rem;
}

.album {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid color.adjust($background-color, $lightness: 20%);

    .album-name {
        margin-bottom: 0;
    }

    .artist-name {
        margin-top: 0;
    }

    .album-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        img.album-cover {
            width: 100%;
            max-width: 400px;
        }

        div.track-count, div.duration {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        div.accessibility-bar {
            display: flex;

            span.full {
                color: $active-color;
            }

            span.empty {
                color: $text-color;
            }
        }

        p.comment {
            max-width: 300px;
        }
    }

    a.link {
        padding: 0.4rem 0.8rem;
        width: fit-content;
        margin: 0 auto;
        color: $background-color;
        font-weight: 600;
        background-color: $active-color;
    }    
}


@media (min-width: 600px) {

    #album-container {
        justify-content: center;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 500px);
    }     
}
