@use "abstract" as *;
@use "sass:color";

/* ABSTRACT */

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: $text-color;
}

img {
    display: block;
    height: 140px;
}

html {
    font-family: $font-family;
    font-weight: 400;
    color: $text-color;
}

body {
    background-color: $background-color;
    margin: 0;
}


#album-container {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 1rem;
    gap: 1rem;

    max-width: 1000px;
}

.album {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid color.adjust($background-color, $lightness: 20%);
    .album-content {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        img.album-cover {

        }
    }

    a.link {
        padding: 0.4rem 0.8rem;
        width: fit-content;
        margin: 0 auto;
        color: $background-color;
        font-weight: 600;
        background-color: $active-color;
    }    
}

